# Python
__pycache__/
*.py[cod]
.venv/
.env
.pytest_cache/
.ruff_cache/

# Node
node_modules/
dist/
coverage/

# Django
staticfiles/
media/
*.sqlite3

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
